.payments {
  padding: 120px 15px 61px;
  background-color: #fff;
  margin-top: -95px;
  @media (max-width: 1439px) {
    padding: 70px 15px 32px;
    margin-top: -70px;
  }
  // .payments__title

  &__title {
    margin-bottom: 84px;
    @media (max-width: 1439px) {
      margin-bottom: 25px;
    }
  }

  // .payments__wrapper

  &__wrapper {
    display: flex;
    max-width: 1855px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 740px) {
      flex-wrap: wrap;
      justify-content: center;
      min-height: 70px; 
    }
  }

  // .payments__img

  &__img {
    max-width: 245px;
    width: 100%;
    transition: all .3s ease;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0);
    }
    img {
      max-width: 100%;
      display: block;
    }
    @media (max-width: 1439px) {
      max-width: 130px;
    }
    @media (max-width: 940px) {
      max-width: 98px;
    }
    @media (max-width: 740px) {
      max-width: 70px;
    }
  }
}

